*{
    font-family: "Geist", sans-serif;
};

.filter-btn{
    transition: all 0.1 ease;
}

.active{
    background-color: #422ad5 !important;
    color: white !important;
    font-weight: bold !important;
    transform: scale(1.05);
    border-color: #422ad5;
}

.modal-box {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
}

#modal-title {
    letter-spacing: -0.025em;
}

@media (max-width: 639px) {
    #search-ingine::placeholder {
        font-size: 0;
    }
    #search-ingine::after {
        content: 'Search...';
        font-size: 14px;
    }
}